---
layout: default
robots: all
permalink : /blog
title: Our Blog
summary: Our ideas, thoughts and novell approach makes us different from the others. A human has the gift of thought, and we bring that give to software.
---



<ul class="timeline">

    {% for post in site.posts %}
        {% assign author = site.authors | where: 'nickname', post.author | first %}
            <li class="timeline-inverted">
                <div class="timeline-image">
                    {% if author %}
                        <img class="img-me" src="{{ author.image }}" alt="{{author.nickname}}"/>
                    {% else %}
                        <img class="img-me" src="{{ site.blog.default_img }}" alt=""/>
                    {% endif %}
                </div>

                <div class="timeline-panel">

                    <div class="timeline-heading">
                        <h1>{{ post.title }}</h1>
                        
                    </div>

                    <div class="timeline-body">
                        
                            {% if author %}
                                <h4>By : <a href="{{ site.baseurl }}/authors#{{author.nickname}}"> {{ author.name }}</a></h4>
                            {% endif %}
                        
                        {{ post.summary | markdownify }}

                        <a href="{{ post.url }} ">Read More...</a>
                    </div>
                    <!-- if post has been published on medium / quora / linkedin  -->

                    <div class="timeline-footer">
                        <h5>{{ post.date | date_to_long_string }}</h5>
                    </div>
                </div>


            </li>
    {% endfor %}
</ul>